.ul-info {
  background: transparent;
  font-size: 14px;
  color: #777;
}
.app-message {
  padding: 10px 20px 20px 20px;
  background-color: #F8F88C;
}
.background-color-practice {
  /*    background-color: #E8FFE8;  */
}
.color-practice {
  /*    color: #002000; */
}
.color-practice:after {
  /*  color: #0c880c; */
}
input[type=text].inputmodified {
  background-color: yellow;
}
.input-row input.new-teacher-id {
  width: 85%;
}
.content > .table-view-list:first-child {
  margin-top: 0px;
  opacity: 0.85;
}
.content > .table-view-list:last-child {
  opacity: 0.85;
  border-bottom: 1px solid #ddd;
}
.content > .table-view-list {
  opacity: 0.85;
  border-bottom: 1px solid #ddd;
}
.content > .table-view-history li.table-view-cell {
  margin-top: 0px;
  border-top: 1px solid #ddd;
}
.content > .table-view-history:last-child {
  border-bottom: 1px solid #ddd;
}
.table-view-history {
  opacity: 0.85;
}
.span-history-pages {
  margin: 7px 7px;
  display: block;
}
.btn-history-pages {
  line-height: 110%;
  font-size: 110%;
  font-family: Ratchicons;
}
.history-item-list {
  padding: 7px;
  opacity: 0.90;
}
.history-item-list-correct {
  background-color: #9BFAB6;
}
.history-item-list-wrong {
  background-color: #FDBCBC;
}
.btn-personal-id {
  display: inline-block;
  font-size: 90%;
  font-family: Ratchicons;
  margin-bottom: 5px;
}
.btn-qrcode {
  line-height: 130%;
  font-size: 130%;
  font-family: Ratchicons;
}
.btn-channel {
  margin: 4px;
  font-family: Ratchicons;
  font-size: 150%;
}
.my-identity-center-box {
  margin-left: 50%;
  margin-top: 50%;
  position: relative;
  top: -160px;
  left: -148px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  width: 295px;
  height: 295px;
}
.table-view-cell-right {
  float: right;
  padding: 0px;
}
.clearfix {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.insideWindow {
  margin-left: 5px;
  margin-right: 5px;
}
.paramName {
  padding-bottom: 15px;
}
.content-inner {
  padding: 15px 5px;
  /* margin-bottom: 50px; */
}
.content-inner-marketplace {
  padding-top: 5px;
}
.content-paragraph {
  padding: 3px;
  margin-left: 5px;
  margin-right: 5px;
}
.content-bg {
  background-image: url(/assets/images/road3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.paramDescr {
  font-style: italic;
}
.btn-name {
  font-style: italic;
}
.btn-param {
  font-size: 20px;
  margin: 5px;
}
.btn-marketplace {
  margin: 4px;
}
.optionBlock {
  margin: 20px;
  margin-bottom: 30px;
}
.optionBlockJustified {
  text-align: justify;
  text-justify: inter-word;
  margin: 20px;
  margin-bottom: 30px;
}
.problem-statement-box-holder {
  text-align: center;
  display: inline-block;
}
.set-max-width {
  width: 100%;
}
.center-inline-child {
  text-align: center;
}
.problem-statement-box {
  display: inline-block;
  border-style: single;
  border-width: 1px;
  padding: 0px 10px 15px 10px;
  font-size: 120%;
  line-height: 120%;
  text-align: justify;
}
.problem-ol-mult-choice-holder {
  text-align: center;
}
.problem-ol-mult-choice {
  display: inline-block;
  margin-left: -10px;
}
.problem-ol-mult-choice li {
  text-align: left;
}
.numeric-problemkk {
  text-align: center;
  border-style: single;
  border-width: 1px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 200%;
}
.multiple-choice-problemkk {
  text-align: center;
  border-style: single;
  border-width: 1px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 200%;
  line-height: 100%;
}
.sizeMakeSmaller {
  font-size: 60%;
}
.img-question-graphic {
  border: 1px solid #fff;
}
.img-question-graphic-empty {
  border: 0px;
}
.span-question-graphic {
  display: block;
  text-align: center;
}
table.problem-generated-table {
  display: inline-block;
}
.problem-generated-table th {
  border: 1px solid #ddd;
  text-decoration: underline;
  padding: 1px 15px;
}
.problem-generated-table td {
  border: 1px solid #ddd;
  padding: 1px 15px;
}
.problem-generated-table-holder {
  display: block;
  text-align: center;
}
.set-background-grellow {
  background-color: #fff;
  /* #4CC713; */
}
.answerBox {
  display: inline-block;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 50%;
  border: 1px solid black;
}
.numeric {
  margin: 0 auto;
  width: 100%;
}
.numeric-result {
  color: white;
  text-align: center;
  border-width: 1px;
  margin-bottom: 10px;
}
.numeric-result-correct {
  background-color: green;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.numeric-result-incorrect {
  background-color: red;
}
.numeric-td {
  width: 33%;
  height: 25%;
}
.numeric-td-choice {
  height: 25%;
}
.numeric-digit {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  margin: 0 auto;
  color: white;
  font-size: 130%;
  line-height: 220%;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #1cb841;
}
button:focus {
  outline: 0px;
}
.numeric-descr {
  font-style: italic;
  text-align: left;
  border-width: 1px;
}
.numeric-stats {
  font-style: italic;
  border-width: 1px;
  text-align: left;
  padding-left: 15px;
  padding-top: 7px;
}
.numeric-completed {
  background-color: #DAD8D8;
  /* #eef; */
  font-style: italic;
  text-align: left;
  padding: 7px 10px 30px 10px;
  margin-top: 15px;
}
.numeric-completed-correct {
  color: green;
}
.numeric-completed-incorrect {
  color: red;
}
.btn-task-menu {
  display: inline;
  margin: 2px 1px 9px 1px;
  padding: 3px;
  font-size: 200%;
  /* color: green; */
}
.bar .btn-task-status {
  font-size: 12px;
}
.font-smaller {
  font-size: 50%;
}
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-touch-callout: none;
  -moz-text-size-adjust: none;
  -moz-user-select: none;
  -moz-highlight: none;
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: -5;
  position: absolute;
  height: 100%;
  overflow-y: auto;
}
.blackBackground {
  background: black;
  width: 100%;
  height: 100%;
  z-index: -50;
  position: absolute;
  overflow-y: auto;
}
.invisible {
  display: none;
}
.flip-content {
  margin-top: 44px;
  overflow-y: auto;
}
.flip {
  overflow-y: auto;
  -webkit-perspective: 700;
  -moz-perspective: 700;
  perspective: 700;
  width: 100%;
  height: 120%;
  position: absolute;
  z-index: -4;
}
.flip .flipcard {
  width: 100%;
  height: 120%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.9s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.9s;
}
.flip .flipcard.flipped {
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
}
.flip .flipcard .face {
  width: 100%;
  height: 120%;
  position: absolute;
  background: white;
  -webkit-backface-visibility: hidden ;
  -moz-backface-visibility: hidden ;
  z-index: 2;
}
.flip .flipcard .front {
  width: 100%;
  height: 120%;
  background: white;
  position: absolute;
}
.flip .flipcard .back {
  width: 100%;
  height: 120%;
  background: #fdfdf7;
  position: absolute;
  color: black;
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
}
.position-absolute {
  position: absolute;
}
.content-scrollable {
  overflow-y: auto;
}
.before-footer {
  margin-bottom: 6px;
}
table.taskSummary td {
  padding: 1px 10px 2px 0px;
}
.activityMarketplace {
  padding-right: 15px;
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 4px;
}
.activityMarketplace:last-child {
  border-bottom: 1px solid #ddd;
}
.table-marketplace {
  border: none;
  opacity: 0.85;
}
.finish-activity-button {
  margin-right: 10px;
}
.colorGreen {
  color: green;
}
.colorRed {
  color: red;
}
.colorWhite {
  color: white;
}
.lightGreen {
  /* background-color: #F0F7FF; */
  background-color: #9DBAEC;
  border: 1px solid #6D8AAC;
  border-radius: 4px;
}
.lightGreen:last-child {
  border-bottom: 1px solid #6D8AAC;
}
.lightGreen p {
  color: #201F0C;
}
.segmented-control .control-item.active {
  background-color: #9DBAEC;
}
/*  MATH  */
.fraction {
  font-size: 85%;
  padding: 0 5px;
  display: inline-block;
  text-align: center;
  top: 10px;
  position: relative;
  line-height: 100%;
}
.fraction-bottom {
  border-top: 1px solid;
  display: block;
}
.problem-underline {
  text-decoration: underline;
}
.div-inline {
  display: inline;
}
/* below: only for testing */
.test-even {
  background-color: #FDBAEC;
}
.test-odd {
  background-color: #FDFAEC;
}
