<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="#/"></a>
    <h1 class="title">Connect</h1>
    <a class="pull-right" href="#/myIdentity">
        <button class="btn btn-primary">Me</button>
    </a>
</header>


<div class="content content-bg">
    <ul class="table-view table-view-list">

        <li class="table-view-cell" ng-show="noTeachers">
            <p>
                It looks like you are not connected to any teachers.
            </p>
        </li>

        <li class="table-view-cell" ng-repeat="teacher in teachers">
<!--            <a class="navigate-right" ng-href="#/teacher/{{ teacher.id }}"> -->
            <a class="navigate-right" ng-href="#/tasksList">
                {{ teacher.name }}
                <span ng-show="teacher.newItems > 0" class="badge badge-negative">{{ teacher.newItems}}</span>
            </a>
        </li>
    </ul>

    <div class="clearfix"></div>
    <p>
        <a class="center" ng-href="#/tasksMarketplace">
            <p class="content-paragraph">
                <a href="#/addTeacher">
                    <button class="btn btn-primary">+ Add a Teacher</button>
                </a>
            </p>
        </a>
    </p>



</div>