@(channel: Channel, channelForm: Form[Channel], activitiesInChannel: Iterable[Activity], activities: Iterable[Activity])

@import helper._

@com.sparkydots.starpractice.views.html.admin.main("Edit Channel") {
<div ng-controller="channelDetail">

    <div ng-show="!showEditName">
        Channel: <a href ng-click="toggleEditName()">@channel.name</a>
    </div>

    <div ng-show="showEditName">
        Channel:
        @form(com.sparkydots.starpractice.controllers.admin.routes.Channels.update(channel.id)) {
        @helper.inputText(channelForm("name"), 'size -> 50)
        <button type="submit">Update</button> <a href class="icon icon-close" ng-click="toggleEditName()"></a>

        }
    </div>

    <div>
        <div class="allActivitiesHolder">
            <h3>All activities</h3>

            @if(activities.isEmpty) {
            <p>No activities found</p>
            } else {
            <ul class="table-view table-view-list">
                @for(activity <- activities) {
                <li class="table-view-cell">
                    <a class="navigate-right color-practice div-inline" href="@com.sparkydots.starpractice.controllers.admin.routes.Activities.edit(activity.id)">
                        [@activity.id:@activity.version]<br>
                        @activity.name<br>
                        @activity.shortDescription<br>
                        @activity.authorDate<br>
                    </a>
                    @helper.form(com.sparkydots.starpractice.controllers.admin.routes.Channels.addToChannel(activity.id, channel.id)){<button type="submit" class="btn btn-link">Add to Channel @channel.name (@channel.id)</button>}
                </li>
                }
            </ul>
            }
        </div>


        <div class="defaultChannelHolder">
            <h3>Channel: @channel.name [@channel.id]</h3>

            @if(activitiesInChannel.isEmpty) {
            <p>No activities found</p>
            } else {
            <ul class="table-view table-view-list">
                @for(activity <- activitiesInChannel) {
                <li class="table-view-cell">
                    <a class="navigate-right color-practice div-inline" href="@com.sparkydots.starpractice.controllers.admin.routes.Activities.edit(activity.id)">
                        [@activity.id:@activity.version]<br>
                        @activity.name<br>
                        @activity.shortDescription<br>
                        @activity.authorDate<br>
                    </a>
                    @helper.form(com.sparkydots.starpractice.controllers.admin.routes.Channels.removeFromChannel(activity.id, channel.id)){<button type="submit" class="btn btn-link">&lt;&lt; Remove From Channel @channel.name (@channel.id)</button>}
                </li>
                }
            </ul>
            }
        </div>
    </div>

</div>
}