<!DOCTYPE html>
<html ng-app="AppOne">
    <head>
        <title>aNGular</title>
        <link rel="stylesheet" href='@routes.Assets.at("bower_components/ratchet/dist/css/ratchet.min.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/numeric.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/widg.css")'>
    </head>
    <body>



        <div ng-include="'/assets/base.html'"></div>


        <script src='@routes.Assets.at("tasks/_init.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("bower_components/ratchet/dist/js/ratchet.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("bower_components/angular/angular.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("bower_components/angular-route/angular-route.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("bower_components/angular-timer/dist/angular-timer.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/appOne.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/routes.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/filters.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/numeric.js")' type="text/javascript"></script>
    </body>
</html>
