<!DOCTYPE html>
<html ng-app="AppOne">
    <head>
        <title>StarPractice</title>
        <link rel="icon" href='@routes.Assets.at("images/favicon.ico")' type="image/x-icon" />
        <link rel="stylesheet" href='@routes.Assets.at("bower_components/ratchet/dist/css/ratchet.min.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/numeric.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'>
    </head>
    <body>
        <div style="position: absolute; left: 5px; top: 3px; font-size: 14px;color: #777;"><i>(web version saves activity history only for the current session, tested in chrome)</i></div>

        <div class="app-frame">
            <div ng-include="'/assets/base.html'"></div>
        </div>

        <script src='@routes.Assets.at("tasks/local/_init.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("bower_components/ratchet/dist/js/ratchet.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("bower_components/angular/angular.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("bower_components/angular-route/angular-route.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("bower_components/angular-timer/dist/angular-timer.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("bower_components/angular-md5/angular-md5.min.js")' type="text/javascript"></script>

        <script src='@routes.Assets.at("javascripts/oneApp.dist.min.js")' type="text/javascript"></script>
        <!--  <script src='@routes.Assets.at("javascripts/oneApp.js")' type="text/javascript"></script> -->

        <!-- <script src='@routes.Assets.at("javascripts/qrcode.js")' type="text/javascript"></script> -->
    </body>
</html>
