@(message: String)

<!DOCTYPE html>

<html>
    <head>
        <title>Sparky Dots</title>
        <link rel="icon" href='@routes.Assets.at("images/favicon.ico")' type="image/x-icon" />
        <link rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.min.css'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/numeric.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/index.css")'>

          <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
          <script src='@routes.Assets.at("javascripts/index.js")' type="text/javascript"></script>
      </head>
      <body>

      <nav class="bar bar-standard no-border">
          <a class="pull-left" href="/">
              <span class="logo">Sparky Dots</span>
          </a>
      </nav>

      <div class="content">
            <div style="margin-top: 100px; margin-left: 20px;">
              <a href="/starpractice/web#/">
                  <img src='@routes.Assets.at("images/logo-245x100.png")'>
              </a>
          </div>
      </div>

      <!-- Icons in standard bar fixed to the bottom of the screen -->
    <div class="bar bar-standard bar-footer no-border">
        <p class="pull-right">Contact info: info@@sparkydots.com</p>
    </div>

    </body>

    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js' type="text/javascript"></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js' type="text/javascript"></script>

</html>
