<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" ng-click="backButton()" ng-show="!managingActivities" href></a>
    <a class="icon icon-left-nav pull-left" ng-show="managingActivities" ng-click="managingActivities = false" href></a>
    <h1 class="title">All Channels</h1>
    <button class="btn btn-primary pull-right" ng-show="!adding && !editing && !managingActivities" ng-click="showCreateForm()">New</button>
    <button class="btn btn-primary pull-right" ng-show="editing" ng-click="updateForm()">Update</button>
    <button class="btn btn-primary pull-right" ng-show="adding" ng-click="createForm()">Save</button>
</header>

<div class="content content-bg">
    <div class="clearfix"></div>
    <div class="table-view-cell-right" ng-show="!deleting && !managingActivities">
                    <span class="span-history-pages">
                        <button class="btn btn-primary btn-outlined btn-history-pages" ng-click="turnPage(-10*pageSize)">&#xe82d;&#xe82d;</button>
                        <button class="btn btn-primary btn-outlined btn-history-pages" ng-click="turnPage(-pageSize)">&#xe82d;</button>
                        <button class="btn btn-primary btn-outlined btn-history-pages">{{ startIndex + 1 }} - {{ endIndex }}</button>
                        <button class="btn btn-primary btn-outlined btn-history-pages" ng-click="turnPage(pageSize)">&#xe818;</button>
                        <button class="btn btn-primary btn-outlined btn-history-pages" ng-click="turnPage(10*pageSize)">&#xe818;&#xe818;</button>
                    </span>
    </div>
    <div class="clearfix"></div>

    <div class="content-inner content-inner-marketplace">
        <div class="media-body">


            <div class="content-inner">



                <div ng-show="showFormEdit">
                    <form class="input-group">
                        <label>Id</label>
                        <input ng-class="{ 'input-error' : formData.errors.id}" type="text" ng-model="formData.id">

                        <label>Name</label>
                        <input ng-class="{ 'input-error' : formData.errors.name}" type="text" ng-model="formData.name">

                        <label>Description</label>
                        <textarea ng-class="{ 'input-error' : formData.errors.description}" rows="4" ng-model="formData.description"></textarea>

                        <label>Creation Date</label>
                        <input ng-class="{ 'input-error' : formData.errors.createDate}" type="text" ng-model="formData.createDate" formatdate>

                    </form>
                </div>


                <div ng-show="deleting">
                    <button class="btn btn-block btn-primary" ng-click="deleting = false">Cancel</button>
                    <button class="btn btn-block btn-negative" ng-click="deleteChannel(deletingChannel)">Delete Channel</button>
                </div>


            <div ng-show="!showFormEdit && !deleting && !managingActivities">
                <ul class="table-view table-marketplace">
                    <li ng-repeat="meta in channels" class="table-view-cell media activityMarketplace">

                        <div class="media-body">
                            {{ meta.name }}
                            <p>
                                <span>
                                    <i>{{ meta.id }}</i><br>
                                    {{ meta.description }}
                                    <i>
                                        <br>&nbsp;
                                        <br>Creation Date: {{ meta.createDate | epochToDate }}

                                    </i>
                                </span>

                            <div>

                                <a href ng-click="showEditForm(meta.id)">
                                    <button class="btn btn-positive pull-right btn-channel">
                                        Edit
                                    </button>
                                </a>
                            <a href ng-click="showManageActivities(meta.id)">
                                <button class="btn btn-positive pull-right btn-channel">
                                    Activities
                                </button>
                            </a>
                            <a href ng-click="showDeleteChannel(meta.id)">
                                <button class="btn btn-positive pull-right btn-channel">
                                    Delete
                                </button>
                            </a>


                            </div>
                            </p>
                        </div>

                    </li>
                </ul>
            </div>

            <div ng-show="managingActivities">
                <ul class="table-view table-marketplace">
                    <li ng-repeat="(k,a) in activitiesManage" class="table-view-cell media activityMarketplace">
                        <div class="media-body wrap-long-words" ng-click="toggleMembership(a.id)">
                            {{a.name}}
                            <p>
                                <input type="checkbox" ng-checked="a.included">
                                {{a.id}}

                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>