<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="#/"></a>
    <h1 class="title">All EndUserProfiles</h1>
</header>

<div class="content content-bg">

    <div class="clearfix"></div>
    <div class="table-view-cell-right">
                    <span class="span-history-pages">
                        <button class="btn btn-primary btn-outlined btn-history-pages" ng-click="turnPage(-10*pageSize)">&#xe82d;&#xe82d;</button>
                        <button class="btn btn-primary btn-outlined btn-history-pages" ng-click="turnPage(-pageSize)">&#xe82d;</button>
                        <button class="btn btn-primary btn-outlined btn-history-pages">{{ startIndex + 1 }} - {{ endIndex }}</button>
                        <button class="btn btn-primary btn-outlined btn-history-pages" ng-click="turnPage(pageSize)">&#xe818;</button>
                        <button class="btn btn-primary btn-outlined btn-history-pages" ng-click="turnPage(10*pageSize)">&#xe818;&#xe818;</button>
                    </span>
    </div>
    <div class="clearfix"></div>



    <div class="content-inner content-inner-marketplace">
        <div class="media-body">


            <div class="content-inner">

            <div ng-bind-html="htmlData">
            </div>

            <div>
                <ul class="table-view table-marketplace">
                    <li ng-repeat="meta in endUserProfiles" class="table-view-cell media activityMarketplace">

                        <div class="media-body" ng-click="toggleDetailsId(meta.id)">
                            {{ meta.name }}
                            <p>
                                <i>{{ meta.id }}</i><br>
                                <span>
                                    <i>
                                        <br>Creation Date: {{ meta.createDate | epochToDate }}
                                    </i>
                                </span>

                            <div>

                                <a href ng-click="1">
                                    <button class="btn btn-positive pull-right btn-channel">
                                        Edit
                                    </button>
                                </a>


                            </div>
                            </p>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>