<header class="bar bar-nav">
    <a class="icon icon-info pull-left" href="#/info"></a>
    <h1 class="title">{{ stringTitle }}</h1>
    <a class="icon icon-gear pull-right" href="#/settings" ng-show="showSettings"></a>

</header>

<div class="content content-bg" deviceheight>
    <div class="optionBlock" ng-show="!settingsLoaded">
        loading...
        <p>
            {{ errorMessage }}
        </p>
    </div>
    <div class="optionBlock" ng-show="settingsLoaded">

        <div class="paramName" ng-show="customDisplay">
            <div class="center-inline-child">
                <div class="div-inline">
                    <div ng-bind-html="customDisplay.content"></div>
                </div>
            </div>
        </div>

        <p class="paramName">
            &nbsp;
        </p>

        <div class="paramName" ng-show="showTabPractice">
            <a href ng-click="navigateToTagsOrChannel()"><button class="btn btn-positive btn-block navigate-right">{{ stringPractice }}</button></a>
        </div>

        <div class="paramName" ng-show="hasHistory && showTabHistory">
            <a href="#/history"><button class="btn btn-primary btn-block navigate-right">{{ stringHistory }}</button></a>
        </div>


        <div class="paramName" ng-repeat="customTab in customTabs">
            <a href="#/{{ customTab.page }}"><button class="btn btn-primary btn-block navigate-right {{ customTab.class }}">{{ customTab.text }}</button></a>
        </div>


        <div ng-show="showMessage">
            <div class="app-message">
                <p ng-bind-html="message"></p>
            </div>
        </div>


    </div>
</div>