@(profiles: Iterable[EndUserProfile])(implicit messages: Messages)

@com.sparkydots.activityServer.views.html.admin.main("All profiles") {
<div ng-controller="endUserProfileList">

    <div>
        <div class="allUsersHolder">
            <h3>All user profiles</h3>

            <ul class="table-view table-view-list">
                @for(profile <- profiles) {
                    <li class="table-view-cell">
                        <a class="navigate-right color-practice div-inline" href="@com.sparkydots.activityServer.controllers.admin.routes.EndUserProfiles.edit(profile.id)">
                            [@profile.id]<br>
                            @profile.name<br>
                            @profile.createDate<br>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
}