<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="{{ Channels.current.back }}"></a>
    <h1 class="title">Activities</h1>
    <a href class="icon icon-refresh pull-right" ng-click="tryGettingAgain()" ng-show="!loadingList"></a>
</header>

<div class="content content-bg">
    <div class="content-inner content-inner-marketplace">
        <div class="media-body">

            <div class="center-inline-child" ng-show="Channels.current.back != '#/'">
                <span>Channel: {{channelName}}</span>
            </div>


            <div class="clearfix"></div>
            <div class="table-view-cell-right" ng-show="!littleHistory">
            <span class="span-history-pages">
                <button class="btn btn-primary btn-outlined btn-history-pages" ng-click="turnPage(-pageSize)">&#xe82d;</button>
                <button class="btn btn-primary btn-outlined btn-history-pages">{{ startIndex + 1 }} - {{ endIndex }}</button>
                <button class="btn btn-primary btn-outlined btn-history-pages" ng-click="turnPage(pageSize)">&#xe818;</button>
            </span>
            </div>
            <div class="clearfix"></div>




            <div class="content-inner">

                    <ul class="table-view table-marketplace">

                        <li class="table-view-cell media activityMarketplace" ng-show="errorStatus">
                            <div class="media-body">
                                <p>
                                    <i>
                                        Could not get the current list of activities from the server.<br>
                                        Try again: <a href class="icon icon-refresh" ng-click="tryGettingAgain()" ng-show="!loadingList"></a>
                                    </i>
                                </p>
                            </div>
                        </li>

                        <li class="table-view-cell media activityMarketplace" ng-class="{lightGreen : $parent.detailsId == meta.id }" ng-repeat="meta in availableActivities">
                            <div class="media-body" ng-click="toggleDetailsId(meta.id)">
                                {{ meta.name }}
                                <p>
                                    <span ng-show="$parent.detailsId != meta.id">{{ meta.shortDescription }}</span>
                                    <span ng-show="$parent.detailsId == meta.id">
                                        {{ meta.description }}
                                        <i>
                                            <br>&nbsp;
                                            <br>Creation Date: {{ meta.authorDate | epochToDate }}
                                            <br>Author: {{ meta.authorName }}
                                            <br>Email: {{ meta.authorEmail }}
                                        </i>
                                    </span>

                                <div>

                                    <a href ng-click="tryStartActivity(meta.id, meta.version); $event.stopPropagation()">
                                        <button class="btn btn-negative pull-right btn-marketplace">
                                            Start
                                        </button>
                                    </a>


                                </div>
                                </p>
                            </div>
                        </li>

                    </ul>



                    <div ng-show="loadingList">
                        <div class="media-body">
                            <p>
                                Loading available activities...
                            </p>
                        </div>
                    </div>



            </div>


            <!--  BOTTOM CONTACT INFO -->
            <div>
                <p class="content-paragraph">
                    <i>
                        If you have an idea for a new activity, please submit a request with activity description:
                        <a href="mailto:info@sparkydots.com?subject=Activity%20Marketplace%20-%20New%20Activity%20Request&body=I%20need%20an%20activity%20that%20tests%20the%20following ...">info@sparkydots.com</a>
                    </i>
                </p>
            </div>


        </div>
    </div>
</div>

