<header class="bar bar-nav">
    <a class="icon icon-info pull-left" href="#/info"></a>
    <h1 class="title">StarPractice</h1>
    <!-- <a class="icon icon-gear pull-right" href="#/tasksMarketplace"></a> -->

</header>

<div class="content content-bg">
    <div class="optionBlock" ng-show="!settingsLoaded">
        loading...
        <p>
            {{ errorMessage }}
        </p>
    </div>
    <div class="optionBlock" ng-show="settingsLoaded">

        <p class="paramName">
            &nbsp;
        </p>

        <div class="paramName">
            <a href="#/tasksList"><button class="btn btn-positive btn-block navigate-right">Practice</button></a>
        </div>

        <div class="paramName">
            <a href="#/history"><button class="btn btn-primary btn-block navigate-right">History</button></a>
        </div>

        <div class="paramName" ng-show="linkChannelsShow">
            <a href="#/channelList"><button class="btn btn-positive btn-block navigate-right">Channels</button></a>
        </div>

        <div class="paramName" ng-show="linkConnectShow">
            <a href="#/connect"><button class="btn btn-primary btn-block navigate-right">Connect</button></a>
        </div>

        <div class="paramName" ng-show="linkSettingsShow">
            <a href="#/settings"><button class="btn btn-primary btn-block navigate-right">Settings</button></a>
        </div>
    </div>
</div>