<header class="bar bar-nav">
    <a class="icon icon-info pull-left" href="#/info"></a>
    <h1 class="title">StarPractice</h1>
    <!-- <a class="icon icon-gear pull-right" href="#/tasksMarketplace"></a> -->

</header>

<div class="content content-bg">
    <div class="optionBlock" ng-show="!settingsLoaded">
        loading...
        <p>
            {{ errorMessage }}
        </p>
    </div>
    <div class="optionBlock" ng-show="settingsLoaded">

        <p class="paramName">
            &nbsp;
        </p>

        <div class="paramName">
            <a href ng-click="navigateToTagsOrChannel(0, 'Public')"><button class="btn btn-positive btn-block navigate-right">Practice</button></a>
        </div>

        <div class="paramName" ng-show="hasHistory">
            <a href="#/history"><button class="btn btn-primary btn-block navigate-right">History</button></a>
        </div>


        <div ng-show="showMessage">
            <div class="app-message">
                <p ng-bind-html="message"></p>
            </div>
        </div>


    </div>
</div>