<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="#/"></a>
    <h2 class="title">Info</h2>
</header>

<div class="content content-bg">
    <div class="optionBlock">

        <p class="paramName">
            <b>StarPractice</b> helps students, educators and parents by providing easy ways of generating new practice questions and tracking completed work.
        </p>

        <p class="paramName">
            You can add/remove activities in the "Manage Activities" section. Afer you add a new activity, you can start practicing it immediately. When you no longer need that activity you can remove it from your application.
        </p>

        <p class="paramName">
            When you complete an activity by pressing "Finish Activity", history of this activity is automatically saved and can be reviewed later by going to "History".
        </p>

        <p class="paramName">
            In customiz versions of this service, educators are provided with additional functionalities:
            <ul class="ul-info">
                <li>create own tests</li>
                <li>choose from provided question templates</li>
                <li>tailor practice sets for individual students or groups</li>
                <li>receive student responses</li>
            </ul>
        </p>

        <p class="paramName">
            If you want to get these additional features, please contact <a href="mailto:info@sparkydots.com?subject=Customized%20Activities">info@sparkydots.com</a> for more information.
        </p>

    </div>
</div>