<header class="bar bar-nav background-color-practice">
    <a class="icon icon-left-nav pull-left" href="#/"></a>
    <h2 class="title">Channels</h2>
    <a href class="icon icon-refresh pull-right" ng-show="!loadingList" ng-click="tryGettingAgain()"></a>
    <a href class="pull-right" ng-show="loadingList">loading...</a>
</header>

<div class="content content-bg">

    <div ng-show="showMessage">
        <div class="app-message">
            <p ng-bind-html="message"></p>
        </div>
    </div>

    <ul class="table-view table-view-list">

        <li class="table-view-cell color-practice">
            <a href class="navigate-right color-practice" ng-click="navigateToChannel(0, 'Public')">
                Public
            </a>
        </li>
        <li class="table-view-cell color-practice" ng-repeat="(id, name) in channels"  ng-click="navigateToChannel(id, name)">
            <a href class="navigate-right color-practice">
                {{ name }}
            </a>
        </li>
    </ul>

    <div class="clearfix"></div>
    <p class="content-paragraph">
        <a href="#/addChannel">
            <button class="btn btn-primary">+ Add a Channel</button>
        </a>
    </p>

</div>