<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="{{ backButton }}" ng-show="!submitOptions"></a>
    <h2 class="title" ng-class="{colorWhite: repeatOptions || submitOptions}">Task Summary</h2>

    <button class="btn btn-primary pull-right" ng-show="!submitOptions" ng-click="submitOptions = !submitOptions">
        Submit
    </button>
    <button class="btn btn-primary pull-right" ng-show="submitOptions" ng-click="submitOptions = !submitOptions">
        Cancel
    </button>
    <a href="#/tasksSubmit">
        <button class="btn btn-negative pull-right" ng-show="submitOptions">
            Confirm Submit
        </button>
    </a>

</header>

<div class="content content-bg">
    <div class="content-inner">
        <div class="media-body">



            <div class="content-paragraph" ng-show="ready">
                <p ng-show="mismatch">
                    It appears like the original record of this activity is no longer available.
                </p>
                <table ng-show="!mismatch" class="taskSummary">
                    <tr><td>Activity:</td><td>{{activityName }}</td></tr>
                    <tr><td>Completed:</td><td>{{ timestamp | date:'MMM d, y hh:mm a' }}</td></tr>

                    <tr><td>Questions:</td><td>{{ total }}</td></tr>
                    <tr><td>Correct:</td><td>{{correct}} ({{ 100*correct/total | number:0 }}%)</td></tr>
                    <tr><td>Wrong:</td><td>{{wrong}} ({{ 100*wrong/total | number:0}}%)</td></tr>
                    <tr><td>Total time:</td><td>{{ totalSeconds | secondsToHuman}}</td></tr>
                    <tr><td>Average time:</td><td>{{ avgSeconds | secondsToHuman }} per question</td></tr>
                </table>
            </div>


            <div ng-show="!mismatch" class="content-paragraph">
                <p>Details:</p>
                <p ng-repeat="response in responses">
                    Question: <span ng-bind-html="response[0]"></span>
                    <br>Answer: <span ng-bind-html="response[1]"></span> ({{ response[3] && 'Correct' || 'Incorrect' }})

                    <span ng-show="!response[3]">
                        <br>Actual answer: <span ng-bind-html="response[2]"></span>
                    </span>

                    <br>Time taken: {{ response[4]  | secsToMillis | secondsToHuman }}
                </p>
            </div>


        </div>
    </div>
</div>
