<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="#/connect"></a>
    <h2 class="title">My Identity</h2>
</header>


<div class="content">
<div class="content-inner content-inner-marketplace">
<div class="media-body">
<div class="content-inner">

    <!--
    <button class="btn btn-primary btn-qrcode" ng-click="smaller()">&nbsp;-&nbsp;</button>
    <button class="btn btn-primary btn-qrcode" ng-click="bigger()">&nbsp;+&nbsp;</button>
    -->

    <div class="my-identity-center-box">
        <button class="btn btn-primary btn-outlined btn-personal-id">{{ myId }}</button>
        <div id="qrcode"></div>
    </div>


</div>
</div>
</div>
</div>
