<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="#/"></a>
    <h2 class="title">My Identity</h2>
</header>


<div class="content">
<div class="content-inner content-inner-marketplace">
<div class="media-body">
<div class="content-inner">



    <button class="btn btn-primary btn-outlined btn-personal-id">{{ myId }}</button>
    <!--
    <button class="btn btn-primary btn-qrcode" ng-click="smaller()">&nbsp;-&nbsp;</button>
    <button class="btn btn-primary btn-qrcode" ng-click="bigger()">&nbsp;+&nbsp;</button>
    -->
    <div id="qrcode"></div>


</div>
</div>
</div>
</div>


<!--  BOTTOM NAV -->
<nav class="bar bar-tab">
    <a class="tab-item active" href="#/home">
        <span class="icon icon-home"></span>
        <span class="tab-label">Home</span>
    </a>
    <a class="tab-item active" href="#/history">
        <span class="icon icon-pages"></span>
        <span class="tab-label">History</span>
    </a>
    <a class="tab-item active" href="#/test">
        <span class="icon icon-pages"></span>
        <span class="tab-label">TestPage</span>
    </a>
    <a class="tab-item active" href="#/settings">
        <span class="icon icon-gear"></span>
        <span class="tab-label">Settings</span>
    </a>
</nav>