<div class="content content-bg">
    <div class="content-inner">
        <div class="media-body">

<h5>
SSAT, Quantitative (Math) Section
</h5>

<p>
(click on question number to get a new question)
<div>
<button class="btn btn-primary" ng-click="regen(1)">1</button>
<button class="btn btn-primary" ng-click="regen(2)">2</button>
<button class="btn" ng-click="regen(3)">3</button>
<button class="btn btn-primary" ng-click="regen(4)">4</button>
<button class="btn btn-primary" ng-click="regen(5)">5</button>
<button class="btn" ng-click="regen(6)">6</button>
<button class="btn" ng-click="regen(7)">7</button>
<button class="btn" ng-click="regen(8)">8</button>
<button class="btn" ng-click="regen(9)">9</button>
<button class="btn" ng-click="regen(0)">0</button>

<button class="btn btn-primary" ng-click="regen(11)">11</button>
<button class="btn" ng-click="regen(12)">12</button>
<button class="btn" ng-click="regen(13)">13</button>
<button class="btn" ng-click="regen(14)">14</button>
<button class="btn" ng-click="regen(15)">15</button>
<button class="btn" ng-click="regen(16)">16</button>
<button class="btn" ng-click="regen(17)">17</button>
<button class="btn" ng-click="regen(18)">18</button>
<button class="btn" ng-click="regen(19)">19</button>
<button class="btn" ng-click="regen(20)">20</button>

<button class="btn" ng-click="regen(21)">21</button>
<button class="btn" ng-click="regen(22)">22</button>
<button class="btn" ng-click="regen(23)">23</button>
<button class="btn" ng-click="regen(24)">24</button>
<button class="btn" ng-click="regen(25)">25</button>
<button class="btn" ng-click="regen(26)">26</button>
<button class="btn" ng-click="regen(27)">27</button>
<button class="btn" ng-click="regen(28)">28</button>
<button class="btn" ng-click="regen(29)">29</button>
<button class="btn" ng-click="regen(30)">30</button>
</div>
</p>

<hr>

<p>
    <span ng-bind-html="question"</span>
</p>
<p>
    <ol type='A' class="ol-mult-choice">
            <li ng-repeat="choice in choices">
                <span ng-bind-html="choice"</span>
            </li>
    </ol>
</p>

<p>
    &nbsp;
</p>

            <hr>

<p>
    Answer: <span ng-show="showAnswer">
                <span ng-bind-html="answer"></span>
            </span>

    <button class="btn btn-primary" ng-show="!showAnswer" ng-click="showAnswer = true"> SHOW </button>

</p>


<hr>


            </div>
        </div>

    </div>
