<header class="bar bar-nav">
    <!-- Maybe hide back button, so student can focus on this activity
    <a ng-show="!isFlipped" href="#/tasksList">
        <button class="btn btn-link btn-nav pull-left">
            <span class="icon icon-left-nav"></span>
        </button>
    </a>
    -->

    <a href="#/tasksList" class="icon icon-left-nav pull-left" ng-show="!showFinish && activityDriver.statsCorrect == 0 && activityDriver.statsWrong == 0"></a>

    <button class="btn btn-primary pull-left" ng-show="!showFinish && (activityDriver.statsCorrect > 0 || activityDriver.statsWrong > 0)" ng-click="showFinish = !showFinish">
        Finish
    </button>

    <button class="btn btn-negative pull-right" ng-click="finishActivity()" ng-show="showFinish">
        Finish Activity?
    </button>

    <button class="btn btn-primary pull-left"  ng-show="showFinish" ng-click="showFinish = !showFinish">
        Cancel
    </button>

    <h2 class="title" ng-class="{colorWhite: showFinish}">{{ currentActivity.name | textOrLoading | truncate }} </h2>

    <button class="btn btn-link btn-nav pull-right" ng-show="!showFinish" ng-click="isFlipped=!isFlipped">
        <span class="icon icon-{{ isFlipped && 'check' || 'more-vertical' }}"></span>
    </button>

</header>

<div class="content" ng-show="currentActivity.name == undefined">
    <div class="content-inner">
        <p>loading...</p>
    </div>
</div>

<div class="flip flip-content" ng-show="currentActivity.name != undefined">
    <div class="blackBackground">

        <div class="flipcard" ng-class="{'flipped':isFlipped}">


            <div class="face front">

                <div class="content content-scrollable">

                    <div class="btn btn-link pull-left">
                        <span class="colorGreen">{{ activityDriver.statsCorrect }}</span>/<span class="colorRed">{{ activityDriver.statsWrong }}</span>/<span>{{ activityDriver.statsCorrect + activityDriver.statsWrong }}</span>
                        <span>{{activityDriver.totalTime | secondsToClock}}</span>
                    </div>
                    <div class="btn btn-link pull-right">
                        <timer interval="1000">{{mminutes}}:{{sseconds}}</timer>
                    </div>

                    <div class="content-inner">


                        <!--   problem statement -->
                        <div ng-show="currentActivity.inputTypeNumeric" class="numeric numeric-problem">
                            <span class="{{ currentActivity.sizingClass}}" ng-bind-html="activityDriver.questionStatementAsHTML"></span>
                            <span ng-show="!currentActivity.answerOnNextLine">{{ activityDriver.answer | questionMark }}</span>

                            <div class="answerBox" ng-show="currentActivity.answerOnNextLine">{{ activityDriver.answer | underscore }}</div>

                        </div>
                        <div ng-show="currentActivity.inputTypeMultipleChoice" class="multiple-choice-problem">
                            <span ng-bind-html="activityDriver.questionStatementAsHTML"></span>
                        </div>


                        <!--  feedback result displayed here -->
                        <div id="verbalFeedback" class="fade numeric numeric-result numeric-result-{{activityDriver.result.class}}">
                            {{ activityDriver.result.verbal }}
                        </div>


                        <!--  input is done here -->
                        <div ng-show="currentActivity.inputTypeNumeric" class="numeric numeric-keypad">
                            <table class="numeric">
                                <tr>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressed(1)">1</button>
                                    </td>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressed(2)">2</button>
                                    </td>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressed(3)">3</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressed(4)">4</button>
                                    </td>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressed(5)">5</button>
                                    </td>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressed(6)">6</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressed(7)">7</button>
                                    </td>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressed(8)">8</button>
                                    </td>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressed(9)">9</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.clear()">Clear</button>
                                    </td>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressed(0)">0</button>
                                    </td>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.enter()">Enter</button>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div ng-show="currentActivity.inputTypeMultipleChoice" class="numeric numeric-keypad">
                            <table class="numeric" ng-show="activityDriver.questionStatementChoices.length == 4">
                                <tr>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressedChoice(0)">
                                            {{activityDriver.questionStatementChoices[0]}}
                                        </button>
                                    </td>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressedChoice(1)">
                                            {{activityDriver.questionStatementChoices[1]}}
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressedChoice(2)">
                                            {{activityDriver.questionStatementChoices[2]}}
                                        </button>
                                    </td>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressedChoice(3)">
                                            {{activityDriver.questionStatementChoices[3]}}
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <table class="numeric" ng-show="activityDriver.questionStatementChoices.length == 5">
                                <tr>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressedChoice(0)">
                                            {{activityDriver.questionStatementChoices[0]}}
                                        </button>
                                    </td>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressedChoice(1)">
                                            {{activityDriver.questionStatementChoices[1]}}
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressedChoice(2)">
                                            {{activityDriver.questionStatementChoices[2]}}
                                        </button>
                                    </td>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressedChoice(3)">
                                            {{activityDriver.questionStatementChoices[3]}}
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric-td">
                                        <button class="numeric-digit" ng-click="activityDriver.pressedChoice(4)">
                                            {{activityDriver.questionStatementChoices[4]}}
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>


                        <div>
                            &nbsp;
                        </div>
                        <div class="numeric-completed">
                            <div ng-show="activityDriver.answeredQuestion.statement">
                                <div>Previous question: <span ng-bind-html="activityDriver.answeredQuestion.statementAsHTML"></span></div>
                                <div ng-show="activityDriver.answeredQuestion.statement">
                                    <div>Your answer:
                                                    <span class="numeric-completed-{{activityDriver.answeredQuestion.result && 'correct' || 'incorrect' }}">
                                                        {{activityDriver.answeredQuestion.answer}}
                                                        <span ng-show="activityDriver.answeredQuestion.result" class="icon icon-{{activityDriver.answeredQuestion.result && 'check' || 'close' }}"></span>
                                                    </span>
                                    </div>
                                </div>
                            </div>

                            <br>
                            &nbsp;
                            <br>
                            &nbsp;
                            <br>
                            &nbsp;
                            <br>


                        </div>





                        <div>
                            <br>
                            &nbsp;
                            <br>
                            &nbsp;
                            <br>
                            &nbsp;
                            <br>
                        </div>




                    </div>


                </div>

            </div>
            <!--  closing flipcard face front -->
            <div class="face back" ng-click="isFlipped=!isFlipped"> <!--  opening flipcard face back -->

                <div class="content">

                    <div class="content-inner">

                        <div ng-show="currentActivity.parameters != undefined">

                            <div class="optionBlockJustified">
                                <p>
                                    Configuration options for activity <i>"{{currentActivity.name}}"</i>
                                </p>
                            </div>

                            <div ng-repeat="(paramKey, param) in currentActivity.parameters">

                                <div class="optionBlock">
                                    <div class="paramName paramDescr">{{ param.description | firstCapital }}</div>
                                <span ng-repeat="level in param.levels">
                                    <button class="btn btn-param{{ level == param.selectedValue && ' btn-primary' || '' }}" ng-click="activityDriver.selectParamValue(paramKey, level)">
                                        {{ level }}
                                    </button>
                                </span>

                                </div>
                            </div>
                        </div>
                        <div ng-show="currentActivity.parameters == undefined">
                            <div class="optionBlock">
                                This activity has no configuration options.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--  closing flipcard face back -->

        <div>
            <br>
            &nbsp;
            <br>
            &nbsp;
            <br>
            &nbsp;
            <br>
        </div>




        </div>

    </div>
</div>


