<header class="bar bar-nav">
    <a href="#/task">
        <button class="btn btn-link btn-nav pull-left">
            <span class="icon icon-left-nav"></span>
        </button>
    </a>

    <h1 class="title">Options</h1>
    <a href="#/task">
        <button class="btn btn-link btn-nav pull-right">
            Restart
        </button>
    </a>
</header>


<div class="content">

    <div ng-show="task.parameters != undefined">
        <div ng-repeat="(paramKey, param) in task.parameters">

            <div class="optionBlock">
                <div class="paramName paramDescr">{{ param.description | firstCapital }}</div>
            <span ng-repeat="level in param.levels">
                <button class="btn btn-param{{ level == param.selectedValue && ' btn-primary' || '' }}" ng-click="selectParamValue(paramKey, level)">
                    {{ level }}
                </button>
            </span>

            </div>
        </div>
    </div>
    <div ng-show="task.parameters == undefined">
        <div class="optionBlock">
            This activity has no options.
        </div>
    </div>
    <button class="btn btn-primary btn-block">
        <span class="icon icon-left-nav pull-left"></span>
        back to activity
    </button>
</div>