<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="#/"></a>
    <h1 class="title">Manage Activities</h1>
</header>


<div class="content">


<div class="content-inner content-inner-marketplace">
<div class="media-body">


<div class="segmented-control">
                   <span class="control-item" ng-class="{active: isTabSelected('installed')}" ng-click="tabSelected('installed')">
                       Installed
                   </span>
                   <span class="control-item" ng-class="{active: isTabSelected('public')}" ng-click="tabSelected('public')">
                       Public
                   </span>
                   <span class="control-item" ng-class="{active: isTabSelected('subscriptions')}" ng-click="tabSelected('subscriptions')">
                       Subscriptions
                   </span>
</div>
<div class="content-inner">
    <div class="control-content" ng-class="{active: isTabSelected('installed')}">

        <!--  installed -->


        <div class='search-view'>
            <input class='search-key' type="search" placeholder="Search"/>

            <ul class="table-view">

                <li class="table-view-cell media activityMarketplace" ng-repeat="activity in listOfAvailableActivities">
                    <div class="media-body">
                        {{ activity.name }}
                        <p>
                            {{ activity.shortDescription }}<br>
                            <button class="btn btn-primary pull-right btn-marketplace" ng-show="$parent.confirmRemoveId == activity.id" ng-click="$parent.confirmRemoveId = undefined">
                                Cancel
                            </button>
                            <button class="btn btn-negative pull-right btn-marketplace" ng-show="$parent.confirmRemoveId == activity.id " ng-click="$parent.confirmRemoveId = undefined; uninstallActivity(activity.id)">
                                Confirm Remove
                            </button>

                            <button class="btn btn-primary pull-right btn-marketplace" ng-show="!$parent.confirmRemoveId || $parent.confirmRemoveId != activity.id" ng-click="$parent.confirmRemoveId = activity.id">
                                Remove
                            </button>

                            <button class="btn btn-primary pull-right btn-marketplace" ng-show="!$parent.confirmRemoveId || $parent.confirmRemoveId != activity.id" ng-click="$parent.confirmRemoveId = undefined; getInfo(activity.id) ">
                                Info
                            </button>
                        </p>
                    </div>
                </li>

            </ul>
        </div>

    </div>
    <div class="control-content" ng-class="{active: isTabSelected('public')}">

        <!--  public -->


        <div class='search-view'>
            <input class='search-key' type="search" placeholder="Search" ng-model="searchTermPublic"/>

            <div ng-show="errorStatus">
                <div class="media-body">
                    Could not connect to the server, please report to <a href="mailto:info@sparkydots.com?subject=Activity%20Marketplace%20-%20Cannot%20get%20public%20activities">info@sparkydots.com</a>
                    <button class="btn btn-primary pull-right" ng-click="tryGettingPublicAgain()">
                        Try again
                    </button>
                </div>

            </div>

            <ul class="table-view" ng-show="!errorStatus">

                <li class="table-view-cell media activityMarketplace" ng-repeat="activity in publicActivities.activities">
                    <div class="media-body">
                        {{ activity.name }}

                        <p>
                        {{ activity.shortDescription }}<br>
                        <button class="btn btn-primary pull-right btn-marketplace" ng-show="$parent.confirmAddId == activity.id" ng-click="$parent.confirmAddId = undefined">
                            Cancel
                        </button>
                        <button class="btn btn-negative pull-right btn-marketplace" ng-show="$parent.confirmAddId == activity.id " ng-click="$parent.confirmAddId = undefined; installNewActivity(activity.id)">
                            Confirm Add
                        </button>

                        <button class="btn btn-primary pull-right btn-marketplace" ng-show="!isInstalled(activity.id) && (!$parent.confirmAddId || $parent.confirmAddId != activity.id)" ng-click="$parent.confirmAddId = activity.id">
                            Add
                        </button>

                        <button class="btn btn-outline pull-right btn-marketplace" ng-show="isInstalled(activity.id)">
                            <i>Installed</i>
                        </button>

                        <button class="btn btn-primary pull-right btn-marketplace" ng-show="!$parent.confirmAddId || $parent.confirmAddId != activity.id" ng-click="$parent.confirmAddId = undefined; getInfo(activity.id) ">
                            Info
                        </button>
                        </p>

                    </div>
                </li>

            </ul>
        </div>


    </div>
                   <span class="control-content" ng-class="{active: isTabSelected('subscriptions')}">
                                              <!--  subscriptions -->

                                   <div class='search-view'>
                                       <input class='search-key' type="search" placeholder="Search"/>

                                       <ul class="table-view">

                                           <li class="table-view-cell media activityMarketplace">
                                               <img class="media-object pull-left" src="http://placehold.it/42x42">

                                               <div class="media-body">
                                                   Sample Activity ...
                                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                       eiusmod tempor
                                                       incididunt ut labore et dolore. Lorem ipsum dolor sit amet.
                                                       <button class="btn btn-primary pull-right">add</button>
                                                   </p>
                                               </div>
                                           </li>


                                           <li class="table-view-cell media activityMarketplace">
                                               <img class="media-object pull-left" src="http://placehold.it/42x42">

                                               <div class="media-body">
                                                   Sample Activity ...
                                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                       eiusmod tempor
                                                       incididunt ut labore et dolore. Lorem ipsum dolor sit amet.
                                                       <button class="btn btn-primary pull-right">add</button>
                                                   </p>
                                               </div>
                                           </li>

                                           <li class="table-view-cell media activityMarketplace">
                                               <img class="media-object pull-left" src="http://placehold.it/42x42">

                                               <div class="media-body">
                                                   Sample Activity ...
                                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                       eiusmod tempor
                                                       incididunt ut labore et dolore. Lorem ipsum dolor sit amet.
                                                       <button class="btn btn-primary pull-right">add</button>
                                                   </p>
                                               </div>
                                           </li>

                                           <li class="table-view-cell media activityMarketplace">
                                               <img class="media-object pull-left" src="http://placehold.it/42x42">

                                               <div class="media-body">
                                                   Sample Activity ...
                                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                       eiusmod tempor
                                                       incididunt ut labore et dolore. Lorem ipsum dolor sit amet.
                                                       <button class="btn btn-primary pull-right">add</button>
                                                   </p>
                                               </div>
                                           </li>

                                           <li class="table-view-cell media activityMarketplace">
                                               <img class="media-object pull-left" src="http://placehold.it/42x42">

                                               <div class="media-body">
                                                   Sample Activity ...
                                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                       eiusmod tempor
                                                       incididunt ut labore et dolore. Lorem ipsum dolor sit amet.
                                                       <button class="btn btn-primary pull-right">add</button>
                                                   </p>
                                               </div>
                                           </li>

                                           <li class="table-view-cell media activityMarketplace" ng-repeat="actname in ['Sample1', 'Sample2', 'Sample3', 'Sample4', 'Sample5', 'Sample6', 'Sample7', 'Sample8']">
                                               <img class="media-object pull-left" src="http://placehold.it/42x42">

                                               <div class="media-body">
                                                   {{actname}}
                                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                       eiusmod tempor
                                                       incididunt ut labore et dolore. Lorem ipsum dolor sit amet.
                                                       <button class="btn btn-primary pull-right">add</button>
                                                   </p>
                                               </div>
                                           </li>

                                       </ul>
                                   </div>

                   </span>
</div>


<div>
    <p class="content-paragraph">
        <i>
            If you need a new activity, submit a request with activity description:
            <a href="mailto:info@sparkydots.com?subject=Activity%20Marketplace%20-%20New%20Activity%20Request&body=I%20need%20an%20activity%20that%20tests%20the%20following ...">info@sparkydots.com</a>

        </i>
    </p>

    <p class="content-paragraph">
        <i>

            If you are a developer, you can create and share new activities:
            <a href="mailto:info@sparkydots.com?subject=Activity%20Marketplace%20-%20Submitting%20a%20New%20Activities">info@sparkydots.com</a>
        </i>
    </p>
</div>


</div>
</div>
</div>


<!--  BOTTOM NAV -->
<nav class="bar bar-tab">
    <a class="tab-item active" href="#/home">
        <span class="icon icon-home"></span>
        <span class="tab-label">Home</span>
    </a>
    <a class="tab-item active" href="#/stats">
        <span class="icon icon-pages"></span>
        <span class="tab-label">Stats</span>
    </a>
    <a class="tab-item active" href="#/test">
        <span class="icon icon-pages"></span>
        <span class="tab-label">TestPage</span>
    </a>
    <a class="tab-item active" href="#/settings">
        <span class="icon icon-gear"></span>
        <span class="tab-label">Settings</span>
    </a>
</nav>