<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="#/newtask/{{ numericApp.currentTaskType }}"></a>
    <!--
    <a href="#/listtasks">
        <button class="btn btn-primary pull-left">
            Change
        </button>
    </a>
    -->
    <h2 class="title">{{ numericApp.currentTaskType }} </h2>


    <div class="btn btn-link pull-right" ng-click="resetTimer()">
        <timer interval="1000">{{mminutes}}:{{sseconds}}</timer>
    </div>

</header>

<div class="content">
    <div class="content-inner">

        <!--   problem statement -->
        <div ng-show="numericApp.currentTaskAnswerType == 'numeric'" class="numeric numeric-problem">
            {{ numeric.questionStatement }}{{ numeric.answer | questionMark }}
        </div>
        <div ng-show="numericApp.currentTaskAnswerType == 'multiple'" class="multiple-choice-problem">
            {{ numeric.questionStatement }}
        </div>

        <!--  feedback result displayed here -->
        <div class="numeric numeric-result numeric-result-{{numeric.result.class}}">
            {{ numeric.result.verbal }}
        </div>


        <!--  input is done here -->
        <div ng-show="numericApp.currentTaskAnswerType == 'numeric'" class="numeric numeric-keypad">
            <table class="numeric">
                <tr>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressed(1)">1</button>
                    </td>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressed(2)">2</button>
                    </td>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressed(3)">3</button>
                    </td>
                </tr>

                <tr>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressed(4)">4</button>
                    </td>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressed(5)">5</button>
                    </td>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressed(6)">6</button>
                    </td>
                </tr>
                <tr>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressed(7)">7</button>
                    </td>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressed(8)">8</button>
                    </td>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressed(9)">9</button>
                    </td>
                </tr>
                <tr>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.clear()">Clear</button>
                    </td>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressed(0)">0</button>
                    </td>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.enter()">Enter</button>
                    </td>
                </tr>
            </table>
        </div>

        <div ng-show="numericApp.currentTaskAnswerType == 'multiple'" class="numeric numeric-keypad">
            <table class="numeric">
                <tr>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressedChoice(0)">
                            {{numeric.questionStatementChoices[0]}}
                        </button>
                    </td>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressedChoice(1)">
                            {{numeric.questionStatementChoices[1]}}
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressedChoice(2)">
                            {{numeric.questionStatementChoices[2]}}
                        </button>
                    </td>
                    <td class="numeric-td">
                        <button class="numeric-digit" ng-click="numeric.pressedChoice(3)">
                            {{numeric.questionStatementChoices[3]}}
                        </button>
                    </td>
                </tr>
            </table>
        </div>


        <div>
            &nbsp;
        </div>
        <div class="numeric numeric-stats">
            {{ numeric.statsCorrect }} correct and {{ numeric.statsWrong }} wrong
        </div>
        <div class="numeric-completed">
            <div ng-show="numeric.answeredQuestion.statement">Previous question took {{numeric.answeredQuestion.time}}
                sec
            </div>
            <div ng-show="numeric.answeredQuestion.statement" class="numeric-completed-{{numeric.answeredQuestion.result && 'correct' || 'incorrect' }}">
                <div>Question: {{numeric.answeredQuestion.statement}}</div>
                <div>Your answer: {{numeric.answeredQuestion.answer}}<span ng-show="numeric.answeredQuestion.result" class="icon icon-{{numeric.answeredQuestion.result && 'check' || 'close' }}"></span></div>
            </div>
        </div>
    </div>
</div>

