<header class="bar bar-nav">
    <!-- <a class="icon icon-left-nav pull-left" href="#/listtasks"></a> -->
    <a href="#/listtasks">
        <!--
        <button class="btn btn-primary pull-left">
            Back
        </button>
        -->
        <button class="btn btn-link btn-nav pull-left">
            <span class="icon icon-left-nav"></span>
            Back
        </button>
    </a>

    <h1 class="title">Configure the task</h1>
    <!-- <a class="icon icon-right-nav pull-right" href="#/task/{{task.answerType}}"></a> -->
    <a href="#/task/{{task.answerType}}">
        <!--
        <button class="btn btn-primary pull-right">
            Start
        </button> -->
        <button class="btn btn-link btn-nav pull-right">
            Start
            <span class="icon icon-right-nav"></span>
        </button>
    </a>
</header>


<div class="content">

    <div ng-repeat="(paramKey, param) in task.parameters">

        <div class="optionBlock">
            <div class="paramName paramDescr">{{ param.description | firstCapital }}</div>
            <span ng-repeat="level in param.levels">
                <button class="btn btn-param{{ level == param.selectedValue && ' btn-primary' || '' }}" ng-click="selectParamValue(paramKey, level)">{{ level }}</button>
            </span>

        </div>
    </div>
</div>