<header class="bar bar-nav">
    <a href="#/">
        <button class="btn btn-primary pull-left" ng-show="!submitOptions">
            Home
        </button>
    </a>

    <h2 class="title" ng-class="{colorWhite: repeatOptions || submitOptions}">Task Summary</h2>


    <button class="btn btn-primary pull-right" ng-show="!submitOptions" ng-click="submitOptions = !submitOptions">
        Submit
    </button>
    <button class="btn btn-primary pull-right" ng-show="submitOptions" ng-click="submitOptions = !submitOptions">
        Cancel
    </button>
    <a href="#/tasksSubmit">
        <button class="btn btn-negative pull-right" ng-show="submitOptions">
            Confirm Submit
        </button>
    </a>

</header>

<div class="content">
    <div class="content-inner">

        <div class="media-body">


            <div class="content-paragraph">

                <!--
                <div>Task: {{numeric.taskName }}</div>
                <div>Questions completed: {{ numeric.statsCorrect + numeric.statsWrong}}</div>
                <div>Correct answers: {{numeric.statsCorrect}} ({{ 100*numeric.statsCorrect/
                    (numeric.statsCorrect
                    + numeric.statsWrong) }}%)
                </div>
                <div>Wrong answers: {{numeric.statsWrong}} ({{ 100*numeric.statsWrong/ (numeric.statsCorrect +
                    numeric.statsWrong) }}%)
                </div>
                <div>Total time: {{numeric.totalTime | secondsToHuman}}</div>
                <div>Average time: {{numeric.totalTime / (numeric.statsCorrect + numeric.statsWrong) }} seconds per question</div>
-->


<table class="taskSummary">

    <tr>
        <td>Completed task:</td>
        <td>{{numeric.taskName }}</td>
    </tr>

    <tr>
        <td>Total questions:</td>
        <td>{{ numeric.statsCorrect + numeric.statsWrong}}</td>
    </tr>

    <tr>
        <td>Correct answers:</td>
        <td>{{numeric.statsCorrect}} ({{ 100*numeric.statsCorrect/
            (numeric.statsCorrect
            + numeric.statsWrong) | number:0 }}%)
        </td>
    </tr>

    <tr>
        <td>Wrong answers:</td>
        <td>{{numeric.statsWrong}} ({{ 100*numeric.statsWrong/ (numeric.statsCorrect +
            numeric.statsWrong) | number:0}}%)
        </td>
    </tr>

    <tr>
        <td>Total time:</td>
        <td>{{numeric.totalTime | secondsToHuman}}
        </td>
    </tr>

    <tr>
        <td>Average time:</td>
        <td>{{ (numeric.totalTime / (numeric.statsCorrect + numeric.statsWrong)) | number:1 }} seconds per question
        </td>
    </tr>



</table>



            </div>


            <div class="content-paragraph">
                <div>
                    <p>
                        detailed list...

                    </p>


                </div>

            </div>



        </div>


    </div>
</div>



<!--  BOTTOM NAV -->
<nav class="bar bar-tab">
    <a class="tab-item active" href="#/home">
        <span class="icon icon-home"></span>
        <span class="tab-label">Home</span>
    </a>
    <a class="tab-item active" href="#/stats">
        <span class="icon icon-pages"></span>
        <span class="tab-label">Stats</span>
    </a>
    <a class="tab-item active" href="#/test">
        <span class="icon icon-pages"></span>
        <span class="tab-label">TestPage</span>
    </a>
    <a class="tab-item active" href="#/settings">
        <span class="icon icon-gear"></span>
        <span class="tab-label">Settings</span>
    </a>
</nav>