
            <header class="bar bar-nav">
                <a ng-show="!isFlipped" href="#/tasksList">
                    <button class="btn btn-link btn-nav pull-left">
                        <span class="icon icon-left-nav"></span>
                    </button>
                </a>

                <h2 class="title">{{ numericApp.currentTaskType }} </h2>

                <button class="btn btn-link btn-nav pull-right" ng-click="isFlipped=!isFlipped">
                    <span class="icon icon-{{ isFlipped && 'check' || 'more' }}"></span>
                </button>
            </header>

<div class="flip flip-content">
    <div class="blackBackground">

        <div class="flipcard" ng-class="{'flipped':isFlipped}">


            <div class="face front">

            <div class="content">


                <div class="btn btn-link pull-left">
                    <span class="colorGreen">{{ numeric.statsCorrect }}</span>/<span class="colorRed">{{ numeric.statsWrong }}</span>/<span>{{ numeric.statsCorrect + numeric.statsWrong }}</span>
                </div>
                <div class="btn btn-link pull-right">
                    <timer interval="1000">{{mminutes}}:{{sseconds}}</timer>
                </div>


                <div class="content-inner">

                    <!--   problem statement -->
                    <div ng-show="numericApp.currentTaskAnswerType == 'numeric'" class="numeric numeric-problem">
                        {{ numeric.questionStatement }}{{ numeric.answer | questionMark }}
                    </div>
                    <div ng-show="numericApp.currentTaskAnswerType == 'multiple'" class="multiple-choice-problem">
                        {{ numeric.questionStatement }}
                    </div>

                    <!--  feedback result displayed here -->
                    <div id="verbalFeedback" class="fade numeric numeric-result numeric-result-{{numeric.result.class}}">
                        {{ numeric.result.verbal }}
                    </div>


                    <!--  input is done here -->
                    <div ng-show="numericApp.currentTaskAnswerType == 'numeric'" class="numeric numeric-keypad">
                        <table class="numeric">
                            <tr>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressed(1)">1</button>
                                </td>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressed(2)">2</button>
                                </td>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressed(3)">3</button>
                                </td>
                            </tr>

                            <tr>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressed(4)">4</button>
                                </td>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressed(5)">5</button>
                                </td>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressed(6)">6</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressed(7)">7</button>
                                </td>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressed(8)">8</button>
                                </td>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressed(9)">9</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.clear()">Clear</button>
                                </td>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressed(0)">0</button>
                                </td>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.enter()">Enter</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div ng-show="numericApp.currentTaskAnswerType == 'multiple'" class="numeric numeric-keypad">
                        <table class="numeric">
                            <tr>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressedChoice(0)">
                                        {{numeric.questionStatementChoices[0]}}
                                    </button>
                                </td>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressedChoice(1)">
                                        {{numeric.questionStatementChoices[1]}}
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressedChoice(2)">
                                        {{numeric.questionStatementChoices[2]}}
                                    </button>
                                </td>
                                <td class="numeric-td">
                                    <button class="numeric-digit" ng-click="numeric.pressedChoice(3)">
                                        {{numeric.questionStatementChoices[3]}}
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div>
                        &nbsp;
                    </div>
                    <div class="numeric-completed">
                        <div ng-show="numeric.answeredQuestion.statement">
                            <div>Previous question: {{numeric.answeredQuestion.statement}}</div>
                            <div ng-show="numeric.answeredQuestion.statement">
                                <div>Your answer:
                                    <span class="numeric-completed-{{numeric.answeredQuestion.result && 'correct' || 'incorrect' }}">
                                        {{numeric.answeredQuestion.answer}}
                                        <span ng-show="numeric.answeredQuestion.result" class="icon icon-{{numeric.answeredQuestion.result && 'check' || 'close' }}"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>  <!--  closing flipcard face front -->
        <div class="face back"> <!--  opening flipcard face back -->

            <!--
            <span class="slide-text">
                <button class="btn btn-primary" ng-click="isFlipped=!isFlipped">
                    <span class="icon icon-left-nav pull-left"></span>
                    back to activity
                </button>
            </span>-->

            <div ng-show="task.parameters != undefined">

                <div class="optionBlockJustified">
                    <p>
                    Configuration options for activity <i>"{{task.name}}"</i>
                    </p>
                </div>

                <div ng-repeat="(paramKey, param) in task.parameters">

                    <div class="optionBlock">
                        <div class="paramName paramDescr">{{ param.description | firstCapital }}</div>
                    <span ng-repeat="level in param.levels">
                        <button class="btn btn-param{{ level == param.selectedValue && ' btn-primary' || '' }}" ng-click="selectParamValue(paramKey, level)">
                            {{ level }}
                        </button>
                    </span>

                    </div>
                </div>
            </div>
            <div ng-show="task.parameters == undefined">
                <div class="optionBlock">
                    This activity has no configuration options.
                </div>
            </div>




        </div> <!--  closing flipcard face back -->

    </div>
</div>
</div>




<div class="bar bar-standard bar-footer-secondary before-footer">

    <a href="#/taskReport">
        <button class="btn btn-primary btn-block">Finish Practice</button>
    </a>


</div>

