<div class="content">
<div class="content-inner content-inner-marketplace">
<div class="media-body">
<div class="content-inner">



<br><button ng-click="getHttpsData()">Test encrypted request</button><br>
Encrypted response: {{ httpsdata.id }}
<hr>
<button ng-click="writeToFile()">Test write</button><br>
<button ng-click="readFromFile()">Test read</button><br>
data: {{ readData }}
<hr>
<button ng-click="writeToFilePers()">Test write localfsPers</button><br>
<button ng-click="readFromFilePers()">Test read localfsPers</button><br>
data: {{ readDataPers }}
<hr>
<button ng-click="getContents()">getcontents cdv</button><br>
<hr>
<button ng-click="getContentsBody()">getcontents body</button><br>
<hr>
<br><button ng-click="showScriptsInHead()">show scripts in head</button><br>
<ol>
    <li ng-repeat="script in scripts">
        <span ng-class-odd="'test-odd'" ng-class-even="'test-even'">
            <b>id:{{ script.id }}</b>
            <br>
            src:{{ script.src }}
            </span>
    </li>
</ol>



<!--  long long -->
<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    DD
</p>
<!--  long long -->


<!--  long long -->
<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    LAST
</p>
<!--  long long -->


<!--  long long -->
<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    LAST
</p>
<!--  long long -->
<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    LAST
</p>
<!--  long long -->
<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    LAST
</p>
<!--  long long -->
<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    d
</p>

<p>
    LAST LAST
</p>


</div>
</div>
</div>
</div>


<!--  BOTTOM NAV -->
<nav class="bar bar-tab">
    <a class="tab-item active" href="#/home">
        <span class="icon icon-home"></span>
        <span class="tab-label">Home</span>
    </a>
    <a class="tab-item active" href="#/history">
        <span class="icon icon-pages"></span>
        <span class="tab-label">History</span>
    </a>
    <a class="tab-item active" href="#/test">
        <span class="icon icon-pages"></span>
        <span class="tab-label">TestPage</span>
    </a>
    <a class="tab-item active" href="#/settings">
        <span class="icon icon-gear"></span>
        <span class="tab-label">Settings</span>
    </a>
</nav>