@(translateForm: Form[TranslateRequest])(implicit messages: play.api.i18n.Messages)

@import helper._

@com.sparkydots.nlp.views.html.nlp.main("Translate a French sentence") {
<div>

    <h1>Translate a French sentence</h1>

    @form(com.sparkydots.nlp.controllers.routes.MT.translate()) {
        @translateFormFields(translateForm)
        <button type="submit">Translate</button>
        @textarea(translateForm("translation"), 'rows -> 5, 'cols -> 40, '_label -> "English sentence", '_showConstraints -> false)

    }
</div>
}
