<configuration>

    <appender name="APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/EFS/logs/starpractice/${HOSTNAME}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/EFS/logs/starpractice/${HOSTNAME}/log-app-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} - [%level] - from %logger in %thread %n%message%n%xException%n</pattern>
        </encoder>
    </appender>

    <appender name="STAR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/EFS/logs/starpractice/${HOSTNAME}/star.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/EFS/logs/starpractice/${HOSTNAME}/log-star-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss}#%message%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/EFS/logs/starpractice/${HOSTNAME}/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"><!-- daily rollover with compression -->
            <fileNamePattern>/EFS/logs/starpractice/${HOSTNAME}/log-access-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %message%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="HEALTH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/EFS/logs/starpractice/${HOSTNAME}/health.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"><!-- daily rollover with compression -->
            <fileNamePattern>/EFS/logs/starpractice/${HOSTNAME}/log-health-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %message%n</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="APP"/>
    </root>

    <logger name="star" level="ALL" additivity="false">
        <appender-ref ref="STAR" />
    </logger>

    <logger name="access" level="INFO" additivity="false">
        <appender-ref ref="ACCESS" />
    </logger>

    <logger name="health" level="INFO" additivity="false">
        <appender-ref ref="HEALTH" />
    </logger>

</configuration>
