<configuration>

    <property name="BASE_LOC" value="/EFS/logs/starpractice" />
    
    <appender name="APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${BASE_LOC}/app.${HOSTNAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"><!-- daily rollover with compression -->
            <fileNamePattern>${BASE_LOC}/app.%d{yyyyMMddHHmm}.${HOSTNAME}.log.gz</fileNamePattern>
            <maxHistory>100</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} - [%level] %logger: %message%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="EVENTS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${BASE_LOC}/events.${HOSTNAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${BASE_LOC}/events.%d{yyyyMMddHHmm}.${HOSTNAME}.log.gz</fileNamePattern>
            <maxHistory>1000</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <logger name="events" level="ALL" additivity="false">
        <appender-ref ref="EVENTS" />
    </logger>

    <root level="INFO">
        <appender-ref ref="APP"/>
    </root>

</configuration>
