@(activities: Iterable[com.sparkydots.play.example.models.Activity], activitiesInDefaultChannel: Iterable[com.sparkydots.play.example.models.Activity])(implicit flash:Flash)

@main("All activities") {

@flash.get("success").map { msg =>
<div class="flash">@msg</div>
}


<a href="@com.sparkydots.play.example.controllers.routes.Activities.add">Add a new activity</a>


<div>
<div class="allActivitiesHolder">
    <h3>All activities</h3>

@if(activities.isEmpty) {
<p>No activities found</p>
} else {
<ul class="table-view table-view-list">
    @for(activity <- activities) {
    <li class="table-view-cell">
        @helper.form(com.sparkydots.play.example.controllers.routes.Activities.delete(activity.id)){<button type="submit" class="btn btn-link icon icon-close"></button>}
        <a class="navigate-right color-practice div-inline" href="@com.sparkydots.play.example.controllers.routes.Activities.edit(activity.id)">
            [@activity.id:@activity.version]<br>
            @activity.name<br>
            @activity.shortDescription<br>
            @activity.authorDate<br>
        </a>
        @helper.form(com.sparkydots.play.example.controllers.routes.Activities.addToChannel(activity.id, 0)){<button type="submit" class="btn btn-link">Add to Channel 0</button>}
    </li>
    }
</ul>
}
</div>





<div class="defaultChannelHolder">
    <h3>Channel 0</h3>

    @if(activitiesInDefaultChannel.isEmpty) {
<p>No activities found</p>
} else {
<ul class="table-view table-view-list">
    @for(activity <- activitiesInDefaultChannel) {
    <li class="table-view-cell">
        <a class="navigate-right color-practice div-inline" href="@com.sparkydots.play.example.controllers.routes.Activities.edit(activity.id)">
            [@activity.id:@activity.version]<br>
            @activity.name<br>
            @activity.shortDescription<br>
            @activity.authorDate<br>
        </a>
        @helper.form(com.sparkydots.play.example.controllers.routes.Activities.removeFromChannel(activity.id, 0)){<button type="submit" class="btn btn-link">&lt;&lt; Remove From Channel 0</button>}
    </li>
    }
</ul>
}
</div>

</div>
}