@(activities: Iterable[com.sparkydots.play.example.models.Activity])(implicit flash:Flash)

@main("All activities") {
<h1>All activities</h1>

@flash.get("success").map { msg =>
<div class="flash">@msg</div>
}

@if(activities.isEmpty) {
<p>No activities found</p>
} else {
<ul class="table-view table-view-list">
    @for(activity <- activities) {
    <li class="table-view-cell">
        <a class="navigate-right color-practice" href="@com.sparkydots.play.example.controllers.routes.Activities.edit(activity.id)">
            [@activity.id] @activity.name (@activity.shortDescription, @activity.authorDate)
        </a>
        @helper.form(com.sparkydots.play.example.controllers.routes.Activities.delete(activity.id)){<button type="submit">Delete</button>}</li>
    }
</ul>
}
<a href="@com.sparkydots.play.example.controllers.routes.Activities.add">Add a new activity</a>
}