<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="#/connect"></a>
    <h2 class="title">Adding a Teacher</h2>
</header>


<div class="content">
<div class="content-inner content-inner-marketplace">
<div class="media-body">
<div class="content-inner">

    <p>
        After registration, this teacher will be able to send you practice sets and assignments.
    </p>

    <p>
        &nbsp;
    </p>

    <form class="input-group">

    <button class="btn btn-primary btn-block" ng-click="scan()">Scan</button>
    <input type="text" ng-model="teacherId" placeholder="Scan or type in teacher's id" class="new-teacher-id">
    <input type="text" ng-model="teacherName" placeholder="Enter teacher's name" class="new-teacher-id">

        <p>&nbsp;</p>
    <button ng-show="teacherId != undefined && teacherId.length >= 32 && teacherName != undefined && teacherName.length > 1" class="btn btn-primary btn-block" ng-click="addTeacher()">Add</button>
    </form>

</div>
</div>
</div>
</div>

