<div class="content">
<div class="content-inner content-inner-marketplace">
<div class="media-body">
<div class="content-inner">

   All teachers
    <hr>


    <a href="#/addTeacher">Add Teacher</a>


</div>
</div>
</div>
</div>


<!--  BOTTOM NAV -->
<nav class="bar bar-tab">
    <a class="tab-item active" href="#/home">
        <span class="icon icon-home"></span>
        <span class="tab-label">Home</span>
    </a>
    <a class="tab-item active" href="#/history">
        <span class="icon icon-pages"></span>
        <span class="tab-label">History</span>
    </a>
    <a class="tab-item active" href="#/test">
        <span class="icon icon-pages"></span>
        <span class="tab-label">TestPage</span>
    </a>
    <a class="tab-item active" href="#/settings">
        <span class="icon icon-gear"></span>
        <span class="tab-label">Settings</span>
    </a>
</nav>