@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="icon" href='@routes.Assets.at("images/favicon.ico")' type="image/x-icon" />
        <link rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.min.css'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("apps/stylesheets/numeric.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("apps/stylesheets/main.css")'>
        <script src='@routes.Assets.at("bower_components/jquery/dist/jquery.min.js")' type="text/javascript"></script>
    </head>

    <body>
        <header class="bar bar-nav">
            <a class="pull-left" href='@com.sparkydots.activityServer.controllers.admin.routes.Admin.index'>
                <button class="btn">
                    Main
                </button>
            </a>
            <a class="pull-left" href='@com.sparkydots.activityServer.controllers.admin.routes.Activities.list'>
                <button class="btn">
                    Activities
                </button>
            </a>
            <a class="pull-left" href='@com.sparkydots.activityServer.controllers.admin.routes.Channels.list'>
                <button class="btn">
                    Channels
                </button>
            </a>
            <a class="pull-left" href='@com.sparkydots.activityServer.controllers.admin.routes.EndUserProfiles.list'>
                <button class="btn">
                    EndUserProfiles
                </button>
            </a>
            <a class="pull-left" href='@com.sparkydots.activityServer.controllers.admin.routes.EndUserProfiles.list'>
                <button class="btn">
                    Messages
                </button>
            </a>
        </header>

        <div class="content content-bg">
            <div ng-app="adminActivities">
                @content
            </div>
        </div>

        <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js' type="text/javascript"></script>
        <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js' type="text/javascript"></script>

        <script src='@routes.Assets.at("bower_components/angular-timer/dist/angular-timer.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("bower_components/angular-md5/angular-md5.min.js")' type="text/javascript"></script>

        <script src='@routes.Assets.at("/apps/javascripts/library.min.js?v=0.03")' type="text/javascript"></script>

        <script src='@routes.Assets.at("/apps/javascripts/appOne.min.js?v=0.03")' type="text/javascript"></script>

        <script src='@routes.Assets.at("/apps/javascripts/admin.min.js?v=0.03")' type="text/javascript"></script>

    </body>
</html>