@(activityForm: Form[com.sparkydots.starpractice.models.Activity])

@import helper._
@import com.sparkydots.starpractice.models.Activity

@inputText(activityForm("id"), 'size -> 50)
@inputText(activityForm("name"), 'size -> 50)
@inputText(activityForm("shortDescription"), 'size -> 100)
@inputText(activityForm("description"), 'size -> 200)
@inputText(activityForm("authorName"), 'size -> 50)
@inputText(activityForm("authorEmail"), 'size -> 50)
@inputText(activityForm("authorDate"))
@inputText(activityForm("version"), 'size -> 5)
