<!DOCTYPE html>

<html>
<head>
    <title>Sparky Dots</title>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <body>

Which one of: criminal defense, sex crime, dui, speeding<br>

<textarea id="text"></textarea><br>

<button id="classify_button">classify</button>
<br>


<div id="guess"></div>




</body>

<script>
    $("#classify_button").click(function(){

        $.ajax
            ({
                type: "POST",
                url: "/classify/service",
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                data: {text: $("#text").val() },
                success: function(data, status){
                    alert("Data: " + data + "\nStatus: " + status);
                    $("#guess").text(data.guess);
                }
            })

    });
</script>

</html>

