<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="#/"></a>
    <h2 class="title">Info</h2>
</header>

<div class="content content-bg">
    <div class="optionBlock">

        <p class="paramName">
            <b>EarnIt</b> helps parents give their children math assignments, by allowing them to set up workable contracts with their children.
        </p>

        <p class="paramName">
            Whenever you work on an activity, you are earning credits - which are translated into dollars at the rate set by you parent.
        </p>

        <p class="paramName">
            When you complete an activity, history of this activity is automatically saved and can be reviewed later by going to "History".
        </p>

        <p class="paramName">
            If you want to get these additional features, please contact <a href="mailto:info@sparkydots.com?subject=Customized%20Activities">info@sparkydots.com</a> for more information.
        </p>

    </div>
</div>