<!DOCTYPE html>
<html>
    <head>
        <style>
            .active {
                background-color:red;
            }
            .btn-primary {
                border: 2px solid red;
            }
        </style>
    </head>
    <body>

        <div ng-app="TestApp">
            <div ng-controller="TestCtrl">
                <input type="text" ng-model="inputData">
                <button ng-click="clicked('A')">A</button>
                <button ng-click="clicked('B')">B</button>
                <button ng-click="oper('B')">B = A</button>
                <button ng-click="clicked('Z')">Z = ... ; Y = btoa(Z); </button>
                <br>
                <button ng-click="oper('0xF0000000')">A = 0xF0000000</button>
                <button ng-click="oper('0x0F000000')">A = 0x0F000000</button>
                <button ng-click="oper('0xFF000000')">A = 0xFF000000</button>
                <button ng-click="oper('0x1000100F')">A = 0x1000100F</button>
                <button ng-click="oper('0xFF0F00')">A = 0xFF0F00</button>
                <button ng-click="oper('0xFF00')">A = 0xFF00</button>
                <button ng-click="oper('0xF0')">A = 0xF0</button>
                <button ng-click="oper('0xFF')">A = 0xFF</button>
                <button ng-click="oper('0x0F')">A = 0x0F</button>
                <br>
                <button ng-click="oper('<<')">A = A &lt;&lt; 1</button>
                <button ng-click="oper('>>')">A = A &gt;&gt; 1</button>
                <button ng-click="oper('>>>')">A = A &gt;&gt;&gt; 1</button>
                <br>
                <button ng-click="oper('~')">C = ~A</button>
                <button ng-click="oper('&')">C = A & B</button>
                <button ng-click="oper('|')">C = A | B</button>
                <button ng-click="oper('^')">C = A ^ B</button>

                <hr>
                <span ng-class="{active : current == 'A' }">A: {{ bA }} -> {{ A }} </span><br>
                <span ng-class="{active : current == 'B' }">B: {{ bB }} -> {{ B }} </span>
                <hr>
                <span ng-class="{active : current == 'C' }">C: {{ bC }} -> {{ C }} </span>
                <hr>
                <!-- <span ng-class="{active : current == 'A' }">Z: {{ zz }} -> {{ Z }} (latin1) </span><br>
                <span ng-class="{active : current == 'A' }">Y: {{ zz }} -> {{ Y }} (base-64) </span><br> -->
                <hr>
                <input type="text" ng-model="inputData1">
                <input type="text" ng-model="inputData2">
                <input type="text" ng-model="inputData3">
                <input type="text" ng-model="inputData4">
                <br>
                <button ng-click="opera('in')">D = "1 2"</button>
                <button ng-click="opera('inn')">D = 4x</button><br>
                <span ng-class="{active : current == 'A' }">inputData: {{ D }}<br>
                    <span ng-bind-html="dd"></span>
                </span><br>

                <div ng-bind-html="htmldata"></div>
                <hr>
                <input type="text" ng-model="width"><input type="text" ng-model="height">
                <br> Bit depth:
                <button class="btn" ng-class="{'btn-primary': bitDepth == 1}" ng-click="bitDepth = 1; opera('inn')">1</button>
                <button class="btn" ng-class="{'btn-primary': bitDepth == 2}" ng-click="bitDepth = 2; opera('inn')">2</button>
                <button class="btn" ng-class="{'btn-primary': bitDepth == 4}" ng-click="bitDepth = 4; opera('inn')">4</button>
                <button class="btn" ng-class="{'btn-primary': bitDepth == 8}" ng-click="bitDepth = 8; opera('inn')">8</button>
                <br>
                <button class="btn" ng-class="{'btn-primary': color == 0}" ng-click="color = 0; opera('inn')">grayscale</button>
                <button class="btn" ng-class="{'btn-primary': color == 4}" ng-click="color = 4; opera('inn')">grayscale with alpha</button>
                <button class="btn" ng-class="{'btn-primary': color == 3}" ng-click="color = 3; opera('inn')">indexed</button>
                <button class="btn" ng-class="{'btn-primary': color == 2}" ng-click="color = 2; opera('inn')">truecolor</button>
                <button class="btn" ng-class="{'btn-primary': color == 6}" ng-click="color = 6; opera('inn')">truecolor with alpha</button>

                <br>

                <div><img src="{{ imgdata }}"></div>
            </div>
        </div>

    </body>

    <script src='../bower_components/angular/angular.min.js' type="text/javascript"></script>
    <script src='png.js' type="text/javascript"></script>
    <script src='Pnglet.js' type="text/javascript"></script>
</html>
