<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="{{ backButton }}" ng-show="!submitOptions"></a>
    <h2 class="title" ng-class="{colorWhite: repeatOptions || submitOptions}">{{ stringHistoryItem }}</h2>

    <button class="btn btn-primary pull-right" ng-show="showSubmitLink && !submitOptions" ng-click="submitOptions = !submitOptions">
        Submit
    </button>
    <button class="btn btn-primary pull-right" ng-show="showSubmitLink && submitOptions" ng-click="submitOptions = !submitOptions">
        Cancel
    </button>
    <a href="#/tasksSubmit">
        <button class="btn btn-negative pull-right" ng-show="showSubmitLink && submitOptions">
            Confirm Submit
        </button>
    </a>

</header>

<div class="content content-bg">
    <div class="content-inner">
        <div class="media-body" ng-show="ready">



            <div class="content-paragraph">
                <p ng-show="mismatch">
                    It appears like the original record of this activity is no longer available. Removing it from the list of history items.
                </p>
                <table ng-show="!mismatch" class="taskSummary">
                    <tr><td>Activity:</td><td>{{activityName }}</td></tr>
                    <tr><td>Completed:</td><td>{{ timestamp | date:'MMM d, y hh:mm a' }}</td></tr>

                    <tr><td>Questions:</td><td>{{ total }}</td></tr>
                    <tr><td>Correct:</td><td>{{correct}} ({{ 100*correct/total | number:0 }}%)</td></tr>
                    <tr><td>Wrong:</td><td>{{wrong}} ({{ 100*wrong/total | number:0}}%)</td></tr>
                    <tr><td>Total time:</td><td>{{ totalSeconds | secondsToHuman}}</td></tr>
                    <tr><td>Average time:</td><td>{{ avgSeconds | secondsToHuman }} per question</td></tr>
                </table>
            </div>

            <div class="center-inline-child">
                <button class="btn" ng-class="{ 'btn-primary' : searchModel == searchAll }" ng-click="searchModel = searchAll">All</button>
                <button class="btn" ng-class="{ 'btn-primary' : searchModel == searchStarred }" ng-click="searchModel = searchStarred">Starred</button>
                <button class="btn" ng-class="{ 'btn-primary' : searchModel == searchNoted }" ng-click="searchModel = searchNoted">With a note</button>
                <button class="btn" ng-class="{ 'btn-primary' : searchModel == searchCorrect }" ng-click="searchModel = searchCorrect">Correct</button>
                <button class="btn" ng-class="{ 'btn-primary' : searchModel == searchWrong }" ng-click="searchModel = searchWrong">Wrong</button>
            </div>

            <div ng-show="!mismatch" class="content-paragraph">
                <div ng-repeat="response in responses | filter : searchModel : strict" >
                    <br>
                    <div class="history-item-list history-item-list-{{ (response[3] && 'correct') || 'wrong'}}">
                        <div ng-show="response[5] != undefined && response[5][0]"><span class="icon icon-star-filled"></span></div>
                        <div ng-show="response[5] != undefined && response[5][1] != false"><b>Note: <span>{{ response[5][1] }}</span></b></div>
                        Question: <span ng-bind-html="response[0]"></span>

                        <br>Answer: <span ng-bind-html="response[1]"></span> ({{ response[3] && 'Correct' || 'Incorrect' }})

                        <span ng-show="!response[3]">
                            <br>Actual answer: <span ng-bind-html="response[2]"></span>
                        </span>

                        <br>Time taken: {{ response[4]  | secsToMillis | secondsToHuman }}
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
